#image-area{
    margin:357px  auto 90px auto;
    max-width: 65%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*view on mini-tablet*/
@media screen and (min-width : 576px)and (max-width:768px){

    #image-area{
        max-width: 100%;
    }
}

/*view on tablet*/
@media screen and (min-width : 769px)and (max-width:992px){

    #image-area{
        max-width: 95%;
    }
}


/*view on desktop, large-desktop and  */
@media screen and (min-width : 993px)and (max-width:1400px){

    #image-area{
        max-width: 85%;
    }
}


